<h1>{{ student.name_first }} {{ student.name_last }}</h1>
<ul>
	<li><b>ID:</b> {{student.student_id}}</b></li>
	<li><b>Email:</b> {{student.email}}</b></li>
	<li><b>Enroll date:</b> {{student.date_enroll}} </b></li>
</ul>
This student has enrolled on following courses: 
<ul>
	<li>{{student.attendances}}</li>
</ul>
