<h1>List of students: </h1>
{% if list_objects %}
	<ul>
	{% for student in list_objects %}
		<li><a href="/school/{{student.student_id }}/">{{ student.name_first}} {{student.name_last}}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No students available</p>
{% endif %}

<h1>List of courses: </h1>
{% if list_objects %}
	<ul>
	{% for course in list_objects %}
		<li><a href="/school/{{course.course_id}}/">{{course.course_name}} {{course.credits}} </a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No courses available</p>
{% endif %}

<h1>List of events: </h1>
{% if list_objects %}
	<ul>
	{% for event in list_objects %}
		<li><a href="/school/{{event.event_id}}/">{{event.event_name}} {{event.start_date}} </a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No events available</p>
{% endif %}

